In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def test_df():
    df = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/car_prices/car_prices.csv', low_memory=False)

    df = df.sample(5000, random_state=100).reset_index(drop=True)
    
    y = df['sellingprice']
    df.drop('sellingprice', axis=1, inplace=True)
    X = df
    
    return X,y

def partial_df():
    df = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/car_prices/car_prices.csv', low_memory=False)
   
    while(True):
        yield df.sample(100).reset_index(drop=True)
        
gen = partial_df()

In [3]:
X_test, y_test = test_df()

In [4]:
next(gen)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2014,Chevrolet,Impala Limited,LTZ Fleet,Sedan,automatic,2g1wc5e30e1150485,il,4,9769.0,silver,gray,gm remarketing,15500,15500,Thu Mar 05 2015 03:00:00 GMT-0800 (PST)
1,2005,Toyota,Highlander,Base,SUV,NaN,jtehd21a750035597,va,1.9,159442.0,blue,gray,brown's manassas subaru,5375,5000,Thu Jan 29 2015 01:05:00 GMT-0800 (PST)
2,2012,Lexus,RX 350,Base,suv,automatic,2t2zk1baxcc085920,ga,2,29625.0,black,beige,lexus financial services,27100,24700,Thu Jun 11 2015 03:00:00 GMT-0700 (PDT)
3,2003,BMW,3 Series,325xi,sedan,NaN,wbaeu334x3pm53111,pa,2.6,78977.0,silver,gray,gambacorta motors inc,5200,5700,Fri May 29 2015 02:15:00 GMT-0700 (PDT)
4,2013,Ford,Focus,SE,Sedan,automatic,1fadp3f21dl152807,mi,3.4,52413.0,silver,black,the hertz corporation,9875,9600,Thu Feb 26 2015 02:15:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2008,Toyota,FJ Cruiser,Base,SUV,automatic,jtebu11fx8k047098,nj,4.3,73745.0,red,black,highline motor cars corp,17050,17600,Wed Jan 14 2015 01:30:00 GMT-0800 (PST)
96,2010,Mercedes-Benz,E-Class,E350 4MATIC,Sedan,automatic,wddhf8hb9aa149272,ga,3.7,56034.0,â€”,off-white,mercedes-benz financial services,20700,21750,Thu Jan 22 2015 02:00:00 GMT-0800 (PST)
97,2011,Chevrolet,Silverado 2500HD,Work Truck,Regular Cab,automatic,1gb0cvcg2bf140455,tx,4.6,159725.0,white,black,bergstrom pioneer leasing,6525,5200,Fri Feb 06 2015 03:00:00 GMT-0800 (PST)
98,2012,Chevrolet,Impala,LS,Sedan,automatic,2g1wa5e39c1130349,tx,3.5,41392.0,red,gray,lawler motor sports inc,9500,11700,Tue Feb 17 2015 03:00:00 GMT-0800 (PST)
99,2012,Dodge,Grand Caravan,American Value Package,minivan,NaN,2c4rdgbg9cr159690,qc,3.6,93802.0,gray,black,caron mazda,11500,12300,Tue Jun 09 2015 03:00:00 GMT-0700 (PDT)

In [5]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          5000 non-null   int64
 1   make          4905 non-null   object
 2   model         4905 non-null   object
 3   trim          4905 non-null   object
 4   body          4879 non-null   object
 5   transmission  4407 non-null   object
 6   vin           5000 non-null   object
 7   state         5000 non-null   object
 8   condition     4890 non-null   object
 9   odometer      5000 non-null   float64
 10  color         4989 non-null   object
 11  interior      4989 non-null   object
 12  seller        5000 non-null   object
 13  mmr           5000 non-null   object
 14  saledate      5000 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 586.1+ KB

In [6]:
X_test = X_test.dropna()
X_test = X_test.copy()
X_test['make'] = X_test['make'].str.lower()

In [7]:
make = pd.get_dummies(X_test['make'],drop_first=True)
X_test = X_test.copy()
X_test.drop(['make'],axis=1,inplace=True)
X_test = pd.concat([X_test,make],axis=1)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

regressor = SGDRegressor(max_iter=1, tol=1e-3)
scaler = StandardScaler()

for batch in gen:
    X = batch.drop('sellingprice', axis=1)
    X = X.dropna()
    X = X.copy()
    X['make'] = X['make'].str.lower()
    make = pd.get_dummies(X['make'], drop_first=True)
    X = X.copy()
    X.drop(['make'], axis=1, inplace=True)
    X = pd.concat([X, make], axis=1)
    
    y = batch['sellingprice']

    X_test = X_test[X.columns.intersection(X_test.columns)]
    X = X.columns.intersection(X_test.columns)

    # Preprocess X
    categorical_features = [col for col in X_test.columns if col not in ['year', 'odometer']]
    numerical_features = ['year', 'odometer']
    missing_features = X_test.columns.tolist()
    
    missing_transformer = SimpleImputer(strategy='constant', fill_value='missing')
    preprocessor = ColumnTransformer(transformers=[
        ('cat', OneHotEncoder(sparse=False), categorical_features),
        ('num', StandardScaler(), numerical_features),
        ('miss', missing_transformer, missing_features)
    ])
    pipeline = Pipeline([('preprocessor', preprocessor), ('regressor', regressor)])
pipeline.fit(X, y)

In [ ]:
# Evaluate the model on the transformed X_test
score = pipeline.score(X_test, y_test)
print("R-squared score on test set:", score)

In [ ]:
X.columns

In [ ]:
X_test.columns